<!-- <h1>Listing services</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Imageurl</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.description %></td>
        <td><%= service.imageurl %></td>
        <td><%= service.category_id %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
 -->



 <!-- <h1>Listing categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
 -->




<div class="container bootstrap-content">
  <div class="row main-row">
    <div class="span12 main-column">
    <div class="section with-flash content">    
      <div class="section main-content">      
        <div class="header co ntent-header well">
          <a class="btn pull-right btn-info new-link new-category-link" href="<%= new_service_path%>" style="color: white" rel="nofollow">        New Service
          </a><h2 class="heading">Service Index</h2>
        </div>
        <div class="section content-body">    
          <table class="table table-striped table-bordered collection">
            <tr>
              <td>Service</td>
              <td>Description</td>
              <td>Imageurl</td>
              <td>Actions</td>
            </tr>
            <% @services.each do |service| %>
              <tr>
                <td style="color: #0088cc;"><%=link_to "#{service.name}",:url=>service_path(service)  %></td>
                <td><%= service.description %></td>
                <td><%= service.imageurl %></td>
                <td>
                  <%= link_to 'Show', service %>
                  <%= link_to 'Edit', edit_service_path(service) %>
                  <%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
                </tr>
            <% end %>
          </table>
          <div class="empty-collection-message" style="">      No records to display
          </div>
          <div class="pagination">  
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>