<div class="container bootstrap-content">
  <div class="row main-row">
    <div class="span12 main-column">
    <div class="section with-flash content">    
      <div class="section main-content">      
        <div class="header co ntent-header well">
          <% if user_signed_in? %>
            <a class="btn pull-right btn-info new-link new-category-link" href="<%= new_service_path%>" style="color: white" rel="nofollow">        New Service
          </a>
          <% end %>
          <h2 class="heading">Service Index</h2>
        </div>
        <div class="section content-body">    
          <table class="table table-striped table-bordered collection">
            <tr>
              <td>Service</td>
              <td>Description</td>
              <td>Imageurl</td>
              <td>Actions</td>
            </tr>
            <% @services.each do |service| %>
              <% if service.is_approved=="Approved"%>
                <tr>
                  <td><%=link_to "#{service.name}", service, :style=>"color: #0088cc;"  %></td>
                  <td><%= service.description %></td>
                  <td><%= service.imageurl %></td>
                  <td>
                    <%= link_to 'Show', service %>
                    <% if service.user_id == current_user.id %>
                      <%= link_to 'Edit', edit_service_path(service) %>
                      <%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                  </td>
                  </tr>
                <%end%>
            <% end %>
          </table>
          <div class="empty-collection-message" style="">      No records to display
          </div>
          <div class="pagination">  
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>