<div class="span12 main-column">
  <div class="section with-flash content">    
    <div class="section main-content">      
      <div class="section content-body">   
        <div class="banerr">
          <div class="container-main">
            <div class="banner-intro">
              <div class="row">
                <div class="col-xs-4 col-sm-3 mobiview">
                  <div class="img-pro">                                    
                  </div>
                </div>
                <div class="col-sm-8 col-sm-9 mobiview">
                  <div class="contet">                                    
                    <h1>What are the best <%= @service.name %> in Doha ?</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>            
        </div><!--banerrclose-->
        <div class="container-main">
          <div class="row mk00">
            <div class="col-xs-12">
              <div class="headdig-ilm">
                <p>Top Ranked Places</p>
              </div>
              <% @service.providers.each_with_index do |provider,i|%>
                <div class="boxes-slid00">
                  <div class="img-box00">
                    <img alt="dsadsadasd" src="<%= provider.imageurl %>">
                    <span><%= i+1%></span>
                  </div>
                  <div class="middle-box-img"><h3><%= provider.name%></h3>
                    <p><%= provider.description%>.</p>
                  </div>
                  
                  <div class="navigatorrss">
                    <% if user_signed_in? %>
                      <a class="like" href="<%= like_provider_path(provider) %>" id="like_<%= provider.id %>" data="<%= provider.id %>">
                        <button type="button"  data="#{provider.id}" class="btn btn-default custujlo">
                          <i class="fa fa-angle-up"></i>
                        </button>
                      </a>
                      <%else%>
                      <a class="like" href="/providers/1-dsadsadasd/like">
                        <button type="button" data="1" class="btn btn-default custujlo">
                          <i class="fa fa-angle-up"></i>
                        </button>
                      </a>
                    <%end%>

                    <p id="vote_count_<%= provider.id %>"><%= provider.get_upvotes.size %></p>


                    <% if user_signed_in? %>
                      <a class="dislike" href="<%= dislike_provider_path(provider) %>" id="dislike" data="<%= provider.id %>">
                        <button type="button"  data="#{provider.id}" class="btn btn-default custujlo">
                          <i class="fa fa-angle-down"></i>
                        </button>
                      </a>
                      <%else%>
                      <a class="dislike" href="/providers/1-dsadsadasd/dislike">
                        <button type="button" data="1" class="btn btn-default custujlo">
                          <i class="fa fa-angle-down"></i>
                        </button>
                      </a>
                    <%end%>
                  </div>
                


                </div> 
              <%end%>
            </div>
          </div>
        </div>


<div class="right-div">
  <div class="headdig-ilm">                    
    <p>More CrowdRecs in San Francisco</p>
  </div>
  <div class="boxes-slid00">
    <div class="img-boxes-side"
      <img alt="..." src="/assets/media_006.jpg">
    </div>
    <div class="description-d">
      <h4><a href="#">What are the best places for seafood in SF?</a></h4>
      <ul class="listind">
        <li><a href="#">Fitness &amp; Outdoors</a></li>
      </ul>
    </div>
  </div>
  <div class="boxes-slid00">
    <div class="img-boxes-side">
      <img alt="..." src="/assets/img004.jpg">
    </div>
    <div class="description-d">
      <h4><a href="#">What are the best places for seafood in SF?</a></h4>
      <ul class="listind">
        <li><a href="#">Fitness &amp; Outdoors</a></li>
      </ul>
    </div>
  </div>
  <div class="boxes-slid00">
    <div class="img-boxes-side">
      <img alt="..." src="/assets/img008.jpg">
    </div>
    <div class="description-d">
      <h4><a href="#">What are the best places for seafood in SF?</a></h4>
      <ul class="listind">
        <li><a href="#">Fitness &amp; Outdoors</a></li>
      </ul>
    </div>
  </div>
  <div class="boxes-slid00">
    <a href="#"><img alt="..." src="/assets/ad%20banner.png"></a>
  </div>
</div>

      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Alert</h4>
      </div>
      <div class="modal-body">
        You Need To Login First To Vote The Provider
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $(".like").click(function(event){
      event.preventDefault();
      id= $(this).attr('data')
      $.get("/providers/"+id+"/like");
    });
    $(".dislike").click(function(event){
      event.preventDefault();
      id= $(this).attr('data')
      $.get("/providers/"+id+"/dislike");
    });
  });
</script> 