<div class="header content-header well">
	<% if user_signed_in? %>
		<% if @category.user_id == current_user.id %>
			<a class="btn btn-info pull-right edit-link category-link" href="<%= edit_category_path(@category)%>" rel="nofollow">        Edit Category
			</a>    
		<% end %>
	<%end%>
	<h2 class="heading">Category <%= @category.name %></h2>
</div>


<h2>Services</h2>


<% @category.services.each do |service|%>
	<% if service.is_approved=="Approved"%>
		<div class="col-md-3">
			<a href="<%= service_path(service) %>">
				<div class="aaa tile-overlay text-center">
					<span style="text-align: center;display: inline-block; color: #0088cc;font-size: 15px; border: 2px solid darkgray;">
						<span class="view service-name ">
						<%= service.name %>
						</span>
					</span>
				</div>
			</a>
			<a href="<%= service_path(service)%>">
			<div class="col-xs-12 col-sm-6 col-md-3 text-center homepage-tile" style="padding: 0px">
				<% if service.imageurl.present? %>
					<%=image_tag service.imageurl, :style=>"width: 285px;height: 220px;" %>
				<% else %>
					<div style="width: 285px;height: 220px;"></div>
				<% end %>
					<div class="tile-overlay text-center" style="pointer-events: none; position: absolute; top: 40%; width: 100%;color: white;text-align: center;margin-left: 85px;">
						<span class="tile-title" style="text-align: center;display: inline-block; color: white;padding: 8px; font-size: 28px; border: 2px solid white;">
							<span class="view service-name ">
								<%= service.name %>
							</span>
						</span>
					</div>
				</div>
			</a>
		</div>
	<%end%>
<% end%>
